<overlay-scrollbars class="sidebar_wrapper" [options]="scrollbarOptions" miCollapseSidebar>
  <div class="sidebar_user">
    <div class="sidebar_user-photo">
      <img src="assets/images/user-profile.png" alt="">
    </div>
    <div class="sidebar_user-info">
      <p class="text-truncate">Buen día, Cristian Bonilla</p>
    </div>
  </div>
  <ul class="nav">
    <li class="nav-item" routerLinkActive="active">   <!-- [routerLinkActiveOptions]="{ exact: true }" -->
      <a class="nav-link" [routerLink]="ROUTES.INVENTORIES">
        <fa-icon [icon]="[ 'fas', 'clipboard-list' ]" size="2x"></fa-icon>
        <p>Inventarios<span class="badge badge-success">¡Nuevo!</span></p>
      </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="ROUTES.SHOPPING">
        <fa-icon [icon]="[ 'fas', 'shopping-bag' ]" size="2x"></fa-icon>
        <p>Compras</p>
      </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="ROUTES.SALES">
        <fa-icon [icon]="[ 'fas', 'dollar-sign' ]" size="2x"></fa-icon>
        <p>Ventas</p>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#configuration">
        <fa-icon [icon]="[ 'fas', 'cogs' ]" size="2x"></fa-icon>
        <p>Configuración<b class="caret"></b></p>
      </a>
      <div class="collapse" id="configuration">
        <ul class="nav">
          <li class="nav-item" routerLinkActive="active">
            <a [routerLink]="ROUTES.USERS">
              <span class="sidebar-mini-icon">
                <fa-icon [icon]="[ 'fas', 'users' ]"></fa-icon>
              </span>
              <span class="sidebar-normal">Usuarios</span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a [routerLink]="ROUTES.ARTICLES">
              <span class="sidebar-mini-icon">
                <fa-icon [icon]="[ 'fas', 'box-open' ]"></fa-icon>
              </span>
              <span class="sidebar-normal">Artículos</span>
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</overlay-scrollbars>
