<div class="container-fluid px-0 px-sm-2 px-lg-3">
  <div class="table-container">
    <div class="d-sm-flex justify-content-between align-items-center bg-info px-3 py-2">
      <h4 class="text-light my-1 my-sm-0">Usuarios</h4>
      <a type="button" class="btn btn-outline-light my-1 my-sm-0"
        [routerLink]="routes.USERS_CREATE"
        [ngClass]="{ disabled: (loading$ | async) || (errorType$ | async) === errorType.Failed }">
        <fa-icon [icon]="[ 'fas', 'plus-circle' ]" size="lg"></fa-icon>
        Nuevo registro
      </a>
    </div>
    <overlay-scrollbars class="table-responsive-sm" [options]="scrollbarOptions">
      <table class="table table-sm table-borderless table-striped">
        <thead class="thead-dark">
          <tr class="text-center">
            <th scope="col">N°</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col" class="miw-25">Documento de identificación</th>
            <th scope="col">Rol</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <ng-container *ngIf="(loading$ | async) === false && (users$ | async) !== null; else loadingUsers">
          <ng-container *ngIf="users$ | async as users">
            <ng-container *ngIf="!!users.length; else noUsersFound">
              <tbody>
                <tr *ngFor="let user of users; let index = index; trackBy: trackByUser">
                  <th scope="row" class="text-center">{{ index + 1 }}</th>
                  <td class="text-truncate">{{ user.firstName | titlecase }}</td>
                  <td class="text-truncate">{{ user.lastName | titlecase }}</td>
                  <td class="text-truncate text-center">{{ user.dni }}</td>
                  <td class="text-truncate">{{ user.rol | titlecase }}</td>
                  <ng-container
                    [ngTemplateOutlet]="actions"
                    [ngTemplateOutletContext]="{ $implicit: user.id }"></ng-container>
                </tr>
              </tbody>
            </ng-container>
          </ng-container>
        </ng-container>
      </table>
    </overlay-scrollbars>
  </div>
</div>

<ng-template #actions let-userId>
  <td class="table-actions">
    <div class="table-actions__content">
      <a role="button" class="btn text-primary" placement="top"
        ngbTooltip="Detalles"
        [routerLink]="routes.USERS_DETAILS + '/' + userId">
        <fa-icon [icon]="[ 'far', 'eye' ]" size="lg"></fa-icon>
      </a>
    </div>
  </td>
</ng-template>

<ng-template #noUsersFound>
  <tbody>
    <tr>
      <td colspan="6" class="text-black-50 text-center table-light">No hay usuarios registrados</td>
    </tr>
  </tbody>
</ng-template>

<ng-template #loadingUsers>
  <tbody>
    <tr>
      <th scope="row" colspan="6" class="text-black-50 text-center table-light">Cargando...</th>
    </tr>
  </tbody>
</ng-template>
